h3 {
        text-align: center;
        font-family: calibri;
        color: white;
        }
        
#tabletop5 {
			position: absolute;        	
         	top: 22%;
         	left: 38%;
			}
        
table, th  {
 
            background: #E7E7E7;
            border: 1px solid black;
            text-align: center;
             
            }
             
table, td  {
 
            border: 1px solid black;
            text-align: center;
             
            }

html, body {
         width: 100%;
         height: 100%;
         font-family: "Times New Roman";
         color: #444;
         -webkit-font-smoothing: antialiased;
         background-color: #459652;
 
         }

#titlebar {
         position: absolute;
         width: 750px;
         height: 45px;
         top: 22%;
         left: 45%;
         margin-top: -140px;
         margin-left: -170px;
         background-image: -webkit-gradient(linear, left top, left bottom, from(#2D2D1F), to(#DCDCCE));
         border-radius: 25px;
         border: 3px solid #0;
         box-shadow: 0 5px 2px rgba(0,0,0, 5);
          
         }

#favourites {
         position: absolute;
         width: 500px;
         height: 200px;
         top: 30%;
         left: 20%;
         
         margin-top: -140px;
         margin-left: -170px;
         background-image: -webkit-gradient(linear, left top, left bottom, from(#2D2D1F), to(#DCDCCE));
         
         border: 3px solid #0;
         box-shadow: 0 5px 2px rgba(0,0,0, 5);
     }
     
#favbutton {
		 position: absolute;
         top: 10%;
         left: 60%;
}
      
#top5 {
         position: absolute;
         width: 500px;
         height: 200px;
         top: 60%;
         left: 20%;
         
         margin-top: -140px;
         margin-left: -170px;
         background-image: -webkit-gradient(linear, left top, left bottom, from(#2D2D1F), to(#DCDCCE));
        
         border: 3px solid #0;
         box-shadow: 0 5px 2px rgba(0,0,0, 5);
     }
     
#topbutton {
		 position: absolute;
         top: 10%;
         left: 57%;
}
   
#bottom5 {
         position: absolute;
         width: 500px;
         height: 200px;
         top: 90%;
         left: 20%;
         
         margin-top: -140px;
         margin-left: -170px;
         background-image: -webkit-gradient(linear, left top, left bottom, from(#2D2D1F), to(#DCDCCE));
       
         border: 3px solid #0;
         box-shadow: 0 5px 2px rgba(0,0,0, 5);
     }

#botbutton {
		 position: absolute;       
         top: 10%;
         left: 60%;
}
     
#strategies{
         position: absolute;
         width: 600px;
         height: 615px;
         top: 30%;
         left: 60%;
         
         margin-top: -140px;
         margin-left: -170px;
         background-image: -webkit-gradient(linear, left top, left bottom, from(#2D2D1F), to(#DCDCCE));
         
         border: 3px solid #0;
         box-shadow: 0 5px 2px rgba(0,0,0, 5);
     }